<div id="background" class="cycle-slideshow" data-cycle-slides="> div">
  &nbsp;
  <div class="slide" style="background-image: url(/assets/3.jpg)">&nbsp;</div>
  <div class="slide" style="background-image: url(/assets/1.jpg)">&nbsp;</div>
  <div class="slide" style="background-image: url(/assets/2.jpg)">&nbsp;</div>
  
</div>

<div id="welcome">

  <h1 class="new-place">grobla 7 to&nbsp;nowy punkt na&nbsp;mapie poznańskiego coworkingu. To&nbsp;inspirujące miejsce dedykowane biznesowi, networkingowi, jak&nbsp;również designowi i&nbsp;sztuce.</h1>
  <h2 class="opening-hours">Zapraszamy od poniedziałku do piątku w godzinach 9-20</h2>
  <a href="http://" class="button">Sprawdź na mapie</a>


  <div id="newsletter">
    <h3>Wkrótce otwarcie strony, <span>zapisz się na newsletter.</span></h3>
    <form action="//nukomeet.us7.list-manage.com/subscribe/post?u=3c16fa8c924b5ae06d0d07285&amp;id=f88dafc82b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="text">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_3c16fa8c924b5ae06d0d07285_f88dafc82b" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
  </div>

</div>
